img {
  width: 250px;
  height: auto;
  margin-top: 30px;
}

nav {
  background-color: black;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
}

nav a:hover {
  color: beige;
}
